@import "tailwindcss";

/*

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*/

/* NOTE: Implement dark mode */
@font-face {
  font-family: 'MistralText';
  src: url('/fonts/text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-mistral-background-50: #fffaea;
  --color-mistral-background-100: #fefbea;

  --color-mistral-orange-50: #fef4d6;
  --color-mistral-orange-100: #ffefc1;
  --color-mistral-orange-200: #ffd907;
  --color-mistral-orange-300: #feae00;
  --color-mistral-orange-400: #ff8201;
  --color-mistral-orange-500: #f9530d;
  --color-mistral-orange-600: #e00200;

  --color-mistral-accent: #fe8400;
  --color-mistral-text: #1d1b27;

  --color-mistral-gray: #ccbf99;
  --color-mistral-div: #e7dca0;
  --color-mistral-black: #1d1b27;
}

:root {
  --background: #fffaea;
  --foreground: #1d1b27;
  --grid-color: #fff0c3;
}

::selection {
  background: #ffd8ac;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'MistralText', sans-serif;
}

.centered-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-grid-pattern {
  background-image: linear-gradient(to right,var(--grid-color,rgba(0,0,0,.1)) var(--grid-thickness,1px),transparent var(--grid-thickness,1px)),linear-gradient(to bottom,var(--grid-color,rgba(0,0,0,.1))var(--grid-thickness,1px),transparent var(--grid-thickness,1px));
  background-size: var(--grid-size-x,50.12px) var(--grid-size-y,50.14px);
  width: 100%;
  height: 100%
}

.clear {
  background-color: transparent;
}

.blurry {
  backdrop-filter: blur(15px);
  color: white;
}

.default {
  background-color: var(--background);
}

.blurryback {
  background-color: rgba(255, 255, 255, .3);
  color: white;
}

.defaultback {
  background-color: #fef4d6;
  color: var(--foreground);
}

.blurryicon {
  color: white;
}

.defaulticon {
  color: #ff8201;
}